*.la
*.lo
*.o
.deps/
.dirstamp
.libs/
/ColPack
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h1
